$tronBlue: #09C1BF;

body{
	margin: 0;
	padding: 0;
	position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    color: white;
}

* {
	box-sizing: border-box;
}

.index-container, .master-wrapper, .draw-container{
	position: relative;
	height: 100%;
    width: 100%;
}

.master-wrapper{
	display: flex;
	justify-content: space-between;
}

.draw-container{
	flex: 2;
	padding: 0.5rem;
}

.params-container{
	flex: 1;
}

.svg-style{
	display:block;
	margin:auto;
	overflow:visible;
	position: relative;
    height: 100%;
}

path{
	stroke: white;
    stroke-width: 0.25;
    filter: url('#blurred');
    fill: rgba(173, 255, 253,0.7);
}

.position-handler{
	stroke: $tronBlue;
	stroke-width: 0.25;
	fill: rgba(9, 193, 191, 0.2);
	filter: url('#blurred');
	transition: fill, stroke 0.2s;

	&.selected{
		stroke: white;
		fill: $tronBlue;
	}
}

.curve-handler{
	fill: $tronBlue;
	filter: url('#blurred');
	stroke: white;
    stroke-width: 0.25;
}

.overLapPath.selected{
	stroke: $tronBlue;
	stroke-width: 0.5;
}

.grid_v_h{
	stroke-width: 1px;
	vector-effect: non-scaling-stroke;
	opacity: 0.3;
}

.grid_large{
	fill: transparent;
	stroke-width: 1.2px;
	vector-effect: non-scaling-stroke;
	opcaity: 0.5;
}