$tronBlue: #09C1BF;

body{
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.master-wrapper{
	display: flex;
	justify-content: space-between;
}

.draw-container{
	flex: 2;
}

.params-container{
	flex: 1;
}

.svg-style{
	display:block;
	margin:auto;
	overflow:visible;
}

path{
	stroke: white;
    stroke-width: 0.25;
    filter: url('#blurred');
    fill: rgba(173, 255, 253,0.7);
}

.position-handler{
	stroke: $tronBlue;
	stroke-width: 0.25;
	fill: transparent;
	filter: url('#blurred');
	transition: fill, stroke 0.2s;

	&.selected{
		stroke: white;
		fill: $tronBlue;
	}
}

.curve-handler{
	fill: $tronBlue;
	filter: url('#blurred');
}