$tronBlue: #09C1BF;
$rowActiveBg: #213535;
$inputBg: #03403F;
$inputColor: #0CFFFC;
$labelActive: #008481;

body{
	margin: 0;
	padding: 0;
	position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
}

.index-container, .master-wrapper, .draw-container{
	position: relative;
	height: 100%;
    width: 100%;
}

.master-wrapper{
	display: flex;
	justify-content: space-between;
}

.draw-container{
	flex: 2;
	padding: 0.5rem;
}

.params-container{
	flex: 1;

	.row {
		display: flex;
		justify-content: space-between;

		input, select{
			background-color: black;
			color: white;
		}

		&.active{
			background-color: $rowActiveBg;

			input, select {
				background-color: $rowActiveBg;
				&:focus, &:active{
					background: $inputBg;
			    	color: $inputColor;
			    	outline: 0;
				}
			}

			select, label {
				color: $tronBlue;
			}
		}
	}

	.command{
		display: flex;
		align-self: baseline;
	}

	.entries-container{
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: space-around;
    	flex-grow: 1;
    	align-self: baseline;
	}

	.entry{
		display: flex;
		align-self: flex-end;

		input, label, select{
			align-self: baseline;
		}
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
    	/* display: none; <- Crashes Chrome on hover */
    	-webkit-appearance: none;
	    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}

	input[type="number"] {
	    font-size: 1rem;
	    width: 3.5rem;
	    border: none;
	    margin: 0 5px;
	    padding: 5px 0px;
	}

	select {
		font-size: 1rem;
		border: none;
		-webkit-appearance: none;
		width: 30px;
		padding-left: 5px;
		border-radius: 0;
		align-self: baseline;
	}
}



.svg-style{
	display:block;
	margin:auto;
	overflow:visible;
	position: relative;
    height: 100%;
}

path{
	stroke: white;
    stroke-width: 0.25;
    filter: url('#blurred');
    fill: rgba(173, 255, 253,0.7);
}

.position-handler{
	stroke: $tronBlue;
	stroke-width: 0.25;
	fill: rgba(9, 193, 191, 0.2);
	filter: url('#blurred');
	transition: fill, stroke 0.2s;

	&.selected{
		stroke: white;
		fill: $tronBlue;
	}
}

.curve-handler{
	fill: $tronBlue;
	filter: url('#blurred');
	stroke: white;
    stroke-width: 0.25;
}

.overLapPath.selected{
	stroke: $tronBlue;
	stroke-width: 0.5;
}

.grid_v_h{
	stroke-width: 1px;
	vector-effect: non-scaling-stroke;
	opacity: 0.3;
}

.grid_large{
	fill: transparent;
	stroke-width: 1.2px;
	vector-effect: non-scaling-stroke;
	opcaity: 0.5;
}